# Dependencies
node_modules/

# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE/Editor Files
.vscode/
.idea/
*.swp
*.swo

# Build Output (Optional)
# style.css
